
spring.application.name=backend
server.port=8080


spring.datasource.url=jdbc:postgresql://localhost:5432/ListenNode
spring.datasource.username=postgres

spring.datasource.password=


spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
application.security.jwt.secret-key=
rotoguard.ai.enabled=false
rotoguard.ai.url=